In [ ]:
Rules for declaring the variables

In [ ]:
Rule 1: No namespaces while declaring the variable

In [6]:
first name='Nafeesa'
print(fires name)

SyntaxError: invalid syntax (3097568150.py, line 1)

In [7]:
firstname='Nafeesa'
print(firstname)

Nafeesa

In [ ]:
Rule 2: A variable name should not start with a number

In [8]:
1name='Nafeesa'
print(1name)

SyntaxError: invalid decimal literal (1811575215.py, line 1)

In [9]:
name1='Nafeesa'
print(name1)

Nafeesa

In [ ]:
Rule 3: A variable name should not contain any special characters

In [10]:
name@='Kaviya'
print(name@)

SyntaxError: invalid syntax (3172043129.py, line 2)

In [ ]:
Introduction to data types in python

In [ ]:
Strings====> str
Numbers====>int,float
Lists======>list
Tuples=====>tuple
Dictionaries=====>dict

In [ ]:
Introduction to string data type

In [ ]:
Definition: A string is a series of characters declared in quotes. 
Classification: It is classified as immutable datatype

In [ ]:
How to declare the string datatype
2 approaches
   single quote
   double quote

In [11]:
name='divya'
print(name)

divya

In [12]:
name2="divya"
print(name2)

divya

In [ ]:
Introduction to string methods

In [13]:
type(name)

str

In [14]:
type(name2)

str

In [15]:
fullname='nafeesa begum'
print(fullname)

nafeesa begum

In [ ]:
# req:to correct the format

In [16]:
print(fullname.title())

Nafeesa Begum

In [ ]:
# req: I want the entire name in uppercase

In [17]:
print(fullname.upper())

NAFEESA BEGUM

In [ ]:
# req: I want the entire name in smallcase letters

In [18]:
print(fullname.lower())

nafeesa begum