In [ ]:
Introduction to numbers:

In [1]:
numbers=123
print(numbers)

123

In [2]:
type(numbers)

int

In [3]:
num2=0.1
print(num2)

0.1

In [4]:
type(num2)

float

In [ ]:
Introduction to list datatype:

In [ ]:
Defn: A list is a collection of items defined in a particular order

Classification: It is classified as mutable datatype

How to define the list of datatype:[] #square brackets.

In [6]:
students=['arpita','ashwini','asma','bhuvan','david','karthik']
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [7]:
type(students)

list

In [ ]:
Introduction to indexing: 0,1,2,3,4,5,6,...

In [ ]:
# req: I want to access ashwini name in the output...?

In [8]:
print(students[1])

ashwini

In [9]:
print(students[1].title())

Ashwini

In [ ]:
# req: I want to access bhuvan name in the output...?

In [10]:
print(students[3].title())

Bhuvan

In [ ]:
How to add new elements to the list

How to modify elements in the list

How to delete the elements in the list

In [11]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [ ]:
# req: I ant to add venkat to the above list

In [14]:
students.append('venkat')
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik', 'venkat']

In [ ]:
# req: I want to add shafi name in the above list

In [15]:
students.append('shafi')
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik', 'venkat', 'shafi']

In [ ]:
# req: I want to add kaleem at the 2nd index position

In [16]:
students.insert(2,'kaleem')
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'venkat', 'shafi']

In [17]:
print(students[2])

kaleem

In [ ]:
Interview_questions: 
What is the difference between append and insert methods in a list datatype...?

In [18]:
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'venkat', 'shafi']

In [ ]:
# req: I ant to modify arpita name by anand

In [19]:
students[0]='anand'
print(students)

['anand', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'venkat', 'shafi']

In [ ]:
# req: I want to delete ashwini name in the above list...?

In [39]:
students = ['arpita','ashwini','asma','bhuvan','david','karthik']
del students[1]
print(students)

['arpita', 'asma', 'bhuvan', 'david', 'karthik']